body {
	display: flex;
}

#inputCode {
	width: 40vw;
	height: 90vh;
	margin: 5vh;
}

#locations {
	width: 40vw;
	height: 90vh;
	margin: 5vh;

	display: flex;
	flex-direction: column;
}

#controls {
	width: 10vw;
	height: 90vh;
	margin: 5vh;

	display: flex;
	flex-direction: column;
}

#registers {
	display: flex;
}

.register {
	display: inline-block;
	margin: 0.5vh;
}

.register > input {
	width: 2.5vw;
}

#memoryLocations {
	display: flex;
}

.memory {
	display: inline-block;
	margin: 0.5vh;
}

.memory > input {
	width: 2.5vw;
}

.spacer {
	margin: 1vw;
}

#highlights {
	position: absolute;
	pointer-events: none;
	background: transparent;
	outline: none;
	border: none;
	width: 40vw;
	height: 90vh;
	margin: 5.75vh;
	font-family: monospace;
	color: red;
}
