body {
	display: flex;
}

#inputCode {
	width: 40vw;
	height: 90vh;
	margin: 5vh
}

#controls {
	width: 40vw;
	height: 90vh;
	margin: 5vh;

	display: flex;
	flex-direction: column;
}

#registers {
	display: flex;
}

.register {
	display: inline-block;
	margin: 0.5vh;
}

.register > input {
	width: 3vw;
}

#memoryLocations {
	display: flex;
}

.memory {
	display: inline-block;
	margin: 0.5vh;
}

.memory > input {
	width: 3vw;
}

.spacer {
	margin: 1vw;
}
